unpackaged/main/default/flows/Account_sync_Last_SMS_Text_to_related_Cases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Last_SMS_Text_to_Cases</name>
        <label>Assign &quot;Last SMS Text&quot; to Cases</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>CaseLastSMSText.Last_SMS_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Last_SMS_Text__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseLastSMSText.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_cases_collection.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CasesLastSMSText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CaseLastSMSText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_cases_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_there_any_record</name>
        <label>Is there any record?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Cases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_cases_collection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Account - sync &quot;Last SMS Text&quot; to related Cases. {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Sync &quot;Last SMS Text&quot; to Related Cases</label>
    <loops>
        <name>Loop_through_cases_collection</name>
        <label>Loop through cases collection</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Related_Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Last_SMS_Text_to_Cases</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Related_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Cases</name>
        <label>Get Related Cases</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_any_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Related_Cases</name>
        <label>Update Related Cases</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <inputReference>CasesLastSMSText</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Last_SMS_Text__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseLastSMSText</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CasesLastSMSText</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
