unpackaged/main/default/flows/API_Blacklisted.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Account_Record_Exist</name>
        <label>Account Record Exist?</label>
        <locationX>710</locationX>
        <locationY>842</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccountRecord</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>backlisted_updateAcc</targetReference>
            </connector>
            <label>Account Exist</label>
        </rules>
        <rules>
            <name>Account_Non_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccountRecord</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Account Non Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>backlisted_updateAcc</name>
        <label>backlisted update</label>
        <locationX>314</locationX>
        <locationY>950</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isLitigatorAcc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>blacklisted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateLeadRecordLitAcc</targetReference>
            </connector>
            <label>isLitigator</label>
        </rules>
        <rules>
            <name>isValidatedAcc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>blacklisted</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateLeadRecordValAcc</targetReference>
            </connector>
            <label>isValidated</label>
        </rules>
    </decisions>
    <decisions>
        <name>backlisted_updateLead</name>
        <label>backlisted update</label>
        <locationX>402</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>getAccountRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isLitigator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>blacklisted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateLeadRecord</targetReference>
            </connector>
            <label>isLitigator</label>
        </rules>
        <rules>
            <name>isValidated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>blacklisted</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateLeadRecordVal</targetReference>
            </connector>
            <label>isValidated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Record_Exist</name>
        <label>Lead Record Exist?</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>getAccountRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getLeadRecord</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getLeadRecord.IsConverted</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>backlisted_updateLead</targetReference>
            </connector>
            <label>Lead Exist</label>
        </rules>
        <rules>
            <name>non_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getLeadRecord</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getLeadRecord.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAccountRecord</targetReference>
            </connector>
            <label>Lead Non Exist</label>
        </rules>
    </decisions>
    <description>Yes Or No Values</description>
    <environments>Default</environments>
    <interviewLabel>[API] Blacklisted {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[API] Blacklisted</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAccountRecord</name>
        <label>getAccountRecord</label>
        <locationX>710</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Record_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Velocify_Id__pc</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>velocifyId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getLeadRecord</name>
        <label>getLeadRecord</label>
        <locationX>710</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Record_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Velocify_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>velocifyId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateLeadRecord</name>
        <label>updateLeadRecordLit</label>
        <locationX>138</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>getAccountRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Velocify_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>velocifyId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Litigator__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateLeadRecordLitAcc</name>
        <label>updateLeadRecordLit</label>
        <locationX>50</locationX>
        <locationY>1058</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Velocify_Id__pc</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>velocifyId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Litigator__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateLeadRecordVal</name>
        <label>updateLeadRecordVal</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>getAccountRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Velocify_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>velocifyId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Litigator__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateLeadRecordValAcc</name>
        <label>updateLeadRecordVal</label>
        <locationX>314</locationX>
        <locationY>1058</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Velocify_Id__pc</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>velocifyId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Litigator__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getLeadRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>blacklisted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>velocifyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
