unpackaged/main/default/flows/Autolaunched_Flow_Create_Payment_Processing_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Opportunity_Record_Type</name>
        <label>Opportunity Record Type?</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First_Trade_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.First_Trade_Opportunity_record_type</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>First_Trade_Task_Creation</targetReference>
            </connector>
            <label>First Trade Record Type?</label>
        </rules>
        <rules>
            <name>Second_Trade_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Second_Trade_Opportunity_record_Type</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Second_Trade_Task_Creation</targetReference>
            </connector>
            <label>Second Trade Record Type?</label>
        </rules>
    </decisions>
    <description>To Create Payment Processing Request from the opportunity record through button</description>
    <environments>Default</environments>
    <formulas>
        <name>forT_Description</name>
        <dataType>String</dataType>
        <expression>&quot;Set up the payments for &quot; &amp;{!Get_Opportunity_Record.Account.FirstName} &amp; &quot; &quot;&amp; {!Get_Opportunity_Record.Account.LastName}</expression>
    </formulas>
    <formulas>
        <name>forT_DueDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()+1</expression>
    </formulas>
    <formulas>
        <name>forT_Subject</name>
        <dataType>String</dataType>
        <expression>&quot;Set up First Trade Payment for &quot;&amp; {!Get_Opportunity_Record.Account.FirstName} &amp; &quot; &quot;&amp; {!Get_Opportunity_Record.Account.LastName}</expression>
    </formulas>
    <formulas>
        <name>forT_Subject2</name>
        <dataType>String</dataType>
        <expression>&quot;Set up Second Trade Payment for &quot; &amp; {!Get_Opportunity_Record.Account.FirstName} &amp; &quot; &quot;&amp; {!Get_Opportunity_Record.Account.LastName}</expression>
    </formulas>
    <interviewLabel>Autolaunched Flow: {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Autolaunched Flow: Create Payment Processing Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>First_Trade_Task_Creation</name>
        <label>First Trade Task Creation</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>forT_DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>forT_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.First_Trade_Payment_Processing_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>forT_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Var_OppID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Second_Trade_Task_Creation</name>
        <label>Second Trade Task Creation</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>forT_DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>forT_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.Second_Trade_Payment_Processing_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>forT_Subject2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Var_OppID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_OppID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Record</targetReference>
        </connector>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>Var_OppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
