unpackaged/main/default/flows/Autolaunched_Flow_Gather_Tax_Return_and_Opportunity_Product_Information.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Product_Names_to_Variable</name>
        <label>Assign Product Names to Variable</label>
        <locationX>138</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varT_OProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Opportunity_Products.Year_to_File__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_OProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_OProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Opportunity_Products.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_OProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>\n</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Opportunity_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_to_Collection</name>
        <label>Assign Product to Collection</label>
        <locationX>50</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>varT_OpportunityProductsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varT_OProducts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Fields</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Mobile_Phone</name>
        <label>Has Mobile Phone?</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Update_Account_pass_Phone_to_MobileP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_has_mobile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Data.PersonMobilePhone</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes - has mobile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Opportunity_Products</name>
        <label>Has Opportunity Products?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Does Not Have Products</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Opportunity_Products</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Opportunity_Products</targetReference>
            </connector>
            <label>Yes - Has Products</label>
        </rules>
    </decisions>
    <description>11/01: Flow gets related tax return record values and opportunity product values to stores as variables. These variables will populate hidden opportunity fields that tie to Zoho Sign
Enmanuel: Added the logic to fill the payment detail c field
Enmanuel: added a subflow to get all the transactions from all the payment methods from the client
Enmaunel: Added the updated record paymentdetails inside the subflow
Enmanuel: Added Mobile check and fille out validation</description>
    <environments>Default</environments>
    <formulas>
        <name>forT_LineBreakFormula</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <formulas>
        <name>forT_OpportunityProductsCollectionNoBrackets</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!varT_OpportunityProductsCollection},&quot;]&quot;, &quot;&quot;),&quot;[&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>varT_TransactionItemsNoBrackets</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!varT_AddPaymentItemsToCollection},&quot;]&quot;, &quot;&quot;),&quot;[&quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Autolaunched Flow: Gather Tax Return and Opportunity Product Information {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Autolaunched Flow: Gather Tax Return and Opportunity Product Information</label>
    <loops>
        <name>Loop_Through_Opportunity_Products</name>
        <label>Loop Through Opportunity Products</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Related_Opportunity_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Product_Names_to_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Product_to_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Data</name>
        <label>Get Account Data</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Mobile_Phone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Account.Account_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Opportunity_Products</name>
        <label>Get Related Opportunity Products</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Opportunity_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_pass_Phone_to_MobileP</name>
        <label>Update Account pass Phone to MobileP</label>
        <locationX>270</locationX>
        <locationY>1274</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Account.Account_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PersonMobilePhone</field>
            <value>
                <elementReference>recordId.Account.Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Fields</name>
        <label>Update Opportunity Fields</label>
        <locationX>182</locationX>
        <locationY>842</locationY>
        <connector>
            <targetReference>Gather_Transactions_from_payment_Schedules</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity_Product_Values__c</field>
            <value>
                <elementReference>forT_OpportunityProductsCollectionNoBrackets</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Opportunity_Products</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Gather_Transactions_from_payment_Schedules</name>
        <label>Gather Transactions from payment Schedules</label>
        <locationX>182</locationX>
        <locationY>950</locationY>
        <connector>
            <targetReference>Get_Account_Data</targetReference>
        </connector>
        <flowName>Autolaunched_Flow_Gather_Payment_Transactions_Multi_PaymentSchedule</flowName>
        <inputAssignments>
            <name>AddPaymentsToCollection</name>
            <value>
                <elementReference>varT_AddPaymentItemsToCollection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varT_AddPaymentItemsToCollection</assignToReference>
            <name>AddPaymentsToCollection</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>textT_OpportunityProducts</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!varT_OpportunityProductsCollection}</text>
    </textTemplates>
    <textTemplates>
        <name>textT_TRStateValues</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!varT_TaxReturnStatesCollection}</text>
    </textTemplates>
    <textTemplates>
        <name>textT_TRStateYearValues</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!varT_TaxReturnYearsCollection}</text>
    </textTemplates>
    <variables>
        <name>Get_Transactions_Line</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>bt_stripe__Transaction__c</objectType>
    </variables>
    <variables>
        <name>LastSchedulePayment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>bt_stripe__Payment_Schedule__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varT_AddPaymentItemsToCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varT_OpportunityProductsCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varT_OProducts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_TaxReturnStatesCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varT_TaxReturnYearsCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varT_TransactionItems</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_TRStates</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_TRYears</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
