unpackaged/main/default/flows/Autolaunched_Flow_Gather_Payment_Transactions_Multi_PaymentSchedule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Transaction_to_Collection</name>
        <label>Assign Transaction to Collection</label>
        <locationX>440</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varT_PmTransactions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Filtered_Payment_Transactions.bt_stripe__Due_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_PmTransactions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>|</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_PmTransactions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>$</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_PmTransactions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Filtered_Payment_Transactions.bt_stripe__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_PmTransactions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>\n</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Filtered_Payment_Transactions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_2</name>
        <label>Assignment 2</label>
        <locationX>176</locationX>
        <locationY>1142</locationY>
        <assignmentItems>
            <assignToReference>AddPaymentsToCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varT_PmTransactions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PaymentDetailsC</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Transactions</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Transactions</label>
        <locationX>352</locationX>
        <locationY>566</locationY>
        <assignNextValueToReference>currentItem_Filter_Transactions</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Transactions_from_Payment_Schedule</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Transactions.bt_stripe__Payment_Schedule__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_all_the_Payment_Schedule.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Through_Filtered_Payment_Transactions</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Has_Payment_schedule</name>
        <label>Has Payment schedule?</label>
        <locationX>484</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Loop_all_the_Payment_Schedule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_payment_Schedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_all_the_Payment_Schedule.Opportunity__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>recordId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Transactions_from_Payment_Schedule</targetReference>
            </connector>
            <label>Yes - Has payment Schedule</label>
        </rules>
    </decisions>
    <description>Added updated record payment details C on Opp</description>
    <environments>Default</environments>
    <formulas>
        <name>varT_TransactionsNoBrackets</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!AddPaymentsToCollection}, &quot;]&quot;, &quot;&quot;),&quot;[&quot;,&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Autolaunched Flow: Gather Payment Transactions Multi PaymentSchedule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Autolaunched Flow: Gather Payment Transactions Multi PaymentSchedule</label>
    <loops>
        <name>Loop_all_the_Payment_Schedule</name>
        <label>Loop all the Payment Schedule</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Payment_Schedule_From_Opportunity</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Has_Payment_schedule</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assignment_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Filtered_Payment_Transactions</name>
        <label>Loop Through Filtered Payment Transactions</label>
        <locationX>352</locationX>
        <locationY>674</locationY>
        <collectionReference>Filter_Transactions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Transaction_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_all_the_Payment_Schedule</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Payment_Schedule_From_Opportunity</name>
        <label>Get Payment Schedule From Opportunity</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_all_the_Payment_Schedule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>bt_stripe__Payment_Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get All the transactions from a Payment Schedule</description>
        <name>Get_Transactions_from_Payment_Schedule</name>
        <label>Get Transactions from Payment Schedule</label>
        <locationX>352</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Transactions</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>bt_stripe__Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_PaymentDetailsC</name>
        <label>Update PaymentDetailsC</label>
        <locationX>176</locationX>
        <locationY>1250</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Payment_Details__c</field>
            <value>
                <elementReference>varT_TransactionsNoBrackets</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Payment_Schedule_From_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AddPaymentsToCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_Transactions</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>bt_stripe__Transaction__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_PmTransactions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
