unpackaged/main/default/flows/Case_Pre_Activation_Follow_Ups.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Case_Owner_for_in_house</name>
        <label>Send Email to Case Owner for in house</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CaseOwnerEmailAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Dynamic_SMS_Template</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_In_House_Email_Template.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Opportunity__r.Account.PersonContactId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CaseOwnerEmailAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Case_Owner_for_possflip</name>
        <label>Send Email to Case Owner for possflip</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CaseOwnerEmailAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_1_of_Get_Dynamic_SMS_Template</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_In_PossFlip_Email_Template.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Opportunity__r.Account.PersonContactId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CaseOwnerEmailAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <decisions>
        <name>Copy_1_of_Found_Email</name>
        <label>Found Email?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_In_PossFlip_Email_Template</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Case_Owner_for_possflip</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Is_12</name>
        <label>Is 12?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Send_SMS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Next_Pre_Activation_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Send_SMS</targetReference>
            </connector>
            <label>12</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Email</name>
        <label>Found Email?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_In_House_Email_Template</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Case_Owner_for_in_house</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>In_House_or_Poss_Flip</name>
        <label>In House or Poss-Flip?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>In_House</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Financing_Lender_Used__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_In_House_Email_Template</targetReference>
            </connector>
            <label>In House</label>
        </rules>
        <rules>
            <name>Poss_Flip</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Financing_Lender_Used__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monterey Poss-Flip</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_In_PossFlip_Email_Template</targetReference>
            </connector>
            <label>Poss-Flip</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_12</name>
        <label>Is 12?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Send_SMS1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Next_Pre_Activation_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Send_SMS</targetReference>
            </connector>
            <label>12</label>
        </rules>
    </decisions>
    <description>Updated email template folder Ids to match prod.</description>
    <environments>Default</environments>
    <formulas>
        <name>NextNumberEmail</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Next_Pre_Activation_Email__c} + 1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NextTemplate</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Next_Pre_Activation_Email__c})</expression>
    </formulas>
    <formulas>
        <name>smsTemplateMontereyP</name>
        <dataType>String</dataType>
        <expression>&quot;[SMS] Month &quot; &amp; TEXT({!$Record.Next_Pre_Activation_Email__c}) &amp; &quot; - Monterey Possflip - Pre-Activation - With Case Object&quot;</expression>
    </formulas>
    <formulas>
        <name>smsTemplateName</name>
        <dataType>String</dataType>
        <expression>&quot;[SMS] Month &quot; &amp; TEXT({!$Record.Next_Pre_Activation_Email__c}) &amp; &quot; - In-House - Pre-Activation - With Case Object&quot;</expression>
    </formulas>
    <interviewLabel>[Case] - Pre-Activation Follow Ups {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Case] - Pre-Activation Follow Ups</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Send_SMS</name>
        <label>Send SMS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_Case_Add_1</targetReference>
        </connector>
        <inputAssignments>
            <field>account__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smagicinteract__Automation_Key_Reference__c</field>
            <value>
                <elementReference>Copy_1_of_Get_Converse_App_Action.smagicinteract__Automation_Key__c</elementReference>
            </value>
        </inputAssignments>
        <object>smagicinteract__Converse_App_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Send_SMS</name>
        <label>Send SMS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Case_Restart_Cadence</targetReference>
        </connector>
        <inputAssignments>
            <field>account__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smagicinteract__Automation_Key_Reference__c</field>
            <value>
                <elementReference>Get_Converse_App_Task.smagicinteract__Automation_Key__c</elementReference>
            </value>
        </inputAssignments>
        <object>smagicinteract__Converse_App_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_3_of_Send_SMS</name>
        <label>Send SMS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_2_of_Update_Case_Restart_Cadence</targetReference>
        </connector>
        <inputAssignments>
            <field>account__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smagicinteract__Automation_Key_Reference__c</field>
            <value>
                <elementReference>Copy_1_of_Get_Converse_App_Action.smagicinteract__Automation_Key__c</elementReference>
            </value>
        </inputAssignments>
        <object>smagicinteract__Converse_App_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Send_SMS1</name>
        <label>Send SMS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Case_Add_1</targetReference>
        </connector>
        <inputAssignments>
            <field>account__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smagicinteract__Automation_Key_Reference__c</field>
            <value>
                <elementReference>Get_Converse_App_Task.smagicinteract__Automation_Key__c</elementReference>
            </value>
        </inputAssignments>
        <object>smagicinteract__Converse_App_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_Converse_App_Action</name>
        <label>Get Converse App Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Is_12</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>smagicinteract__SMS_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_Get_Dynamic_SMS_Template.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>smagicinteract__Converse_App_Action__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_Dynamic_SMS_Template</name>
        <label>Get Dynamic SMS Template</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Get_Converse_App_Action</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>smagicinteract__Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>smsTemplateMontereyP</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>smagicinteract__SMS_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Converse_App_Task</name>
        <label>Get Converse App Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_12</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>smagicinteract__SMS_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Dynamic_SMS_Template.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>smagicinteract__Converse_App_Action__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Dynamic_SMS_Template</name>
        <label>Get Dynamic SMS Template</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Converse_App_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>smagicinteract__Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>smsTemplateName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>smagicinteract__SMS_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_In_House_Email_Template</name>
        <label>Get In House Email Template</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Description</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Next_Pre_Activation_Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>FolderId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00lPo000009jFwzIAE</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_In_PossFlip_Email_Template</name>
        <label>Get In PossFlip Email Template</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Found_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Description</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Next_Pre_Activation_Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>FolderId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00lPo000009jFx0IAE</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Case_Add_1</name>
        <label>Update Case/Add 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Last_Pre_Activation_Follow_Up_Sent_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Pre_Activation_Email__c</field>
            <value>
                <elementReference>NextNumberEmail</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Case_Restart_Cadence</name>
        <label>Update Case/Restart Cadence</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Last_Pre_Activation_Follow_Up_Sent_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Pre_Activation_Email__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Add_1</name>
        <label>Update Case/Add 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Last_Pre_Activation_Follow_Up_Sent_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Pre_Activation_Email__c</field>
            <value>
                <elementReference>NextNumberEmail</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Restart_Cadence</name>
        <label>Update Case/Restart Cadence</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Last_Pre_Activation_Follow_Up_Sent_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Pre_Activation_Email__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>In_House_or_Poss_Flip</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Activation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Days_Since_Last_Pre_Activation_Follow_Up__c</field>
            <operator>EqualTo</operator>
        </filters>
        <object>Case</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-06-19</startDate>
            <startTime>11:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
