unpackaged/main/default/flows/Create_Payment_Method_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <constants>
        <name>CardRecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>012D4000001M2nVIAS</stringValue>
        </value>
    </constants>
    <decisions>
        <name>payment_recordtype</name>
        <label>payment recordtype</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Associate_to_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>card</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_opportunity.ITR_Payment_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full Pay - Card</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_opportunity.Expiration_Month__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_opportunity.Expiration_Year__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_opportunity.Postal_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_opportunity.Holder_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Card_payment_method_record</targetReference>
            </connector>
            <label>card</label>
        </rules>
        <rules>
            <name>ACH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_opportunity.ITR_Payment_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full Pay ACH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_opportunity.Holder_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_opportunity.Country_ISO__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_opportunity.Currency_ISO__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_opportunity.Account_Holder_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ACH_payment_method_record</targetReference>
            </connector>
            <label>ACH</label>
        </rules>
        <rules>
            <name>Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_opportunity.ITR_Payment_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full Pay - Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_opportunity.Holder_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_payment_method_record</targetReference>
            </connector>
            <label>Other</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Payment Method Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Payment Method Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>ACH_payment_method_record</name>
        <label>ACH payment method record</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignRecordIdToReference>PaymentMethodCreatedID</assignRecordIdToReference>
        <connector>
            <targetReference>Associate_to_Opp</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.ACH_Payment_Record_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Account_Holder_Type__c</field>
            <value>
                <elementReference>get_opportunity.Account_Holder_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Account_Number__c</field>
            <value>
                <elementReference>AccountNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Card_Holder_Name__c</field>
            <value>
                <elementReference>get_opportunity.Holder_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Country_ISO__c</field>
            <value>
                <elementReference>get_opportunity.Country_ISO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Currency_ISO__c</field>
            <value>
                <elementReference>get_opportunity.Currency_ISO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Routing_Number__c</field>
            <value>
                <elementReference>RoutingNumber</elementReference>
            </value>
        </inputAssignments>
        <object>bt_stripe__Payment_Method__c</object>
    </recordCreates>
    <recordCreates>
        <name>Card_payment_method_record</name>
        <label>Card payment method record</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignRecordIdToReference>PaymentMethodCreatedID</assignRecordIdToReference>
        <connector>
            <targetReference>Associate_to_Opp</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.FullCard_Payment_Record_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Billing_Postal_Code__c</field>
            <value>
                <elementReference>get_opportunity.Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Brand__c</field>
            <value>
                <elementReference>get_opportunity.Credit_Card_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__CVV__c</field>
            <value>
                <elementReference>CVV</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Card_Expiration_Month__c</field>
            <value>
                <elementReference>get_opportunity.Expiration_Month__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Card_Expiration_Year__c</field>
            <value>
                <elementReference>get_opportunity.Expiration_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Card_Holder_Name__c</field>
            <value>
                <elementReference>get_opportunity.Holder_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Card_Number__c</field>
            <value>
                <elementReference>CreditCardNumber</elementReference>
            </value>
        </inputAssignments>
        <object>bt_stripe__Payment_Method__c</object>
    </recordCreates>
    <recordCreates>
        <name>Other_payment_method_record</name>
        <label>Other payment method record</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignRecordIdToReference>PaymentMethodCreatedID</assignRecordIdToReference>
        <connector>
            <targetReference>Associate_to_Opp</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.Other_Payment_Record_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Billing_Postal_Code__c</field>
            <value>
                <elementReference>get_opportunity.Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Brand__c</field>
            <value>
                <elementReference>get_opportunity.Credit_Card_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__CVV__c</field>
            <value>
                <elementReference>CVV</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Card_Expiration_Month__c</field>
            <value>
                <elementReference>get_opportunity.Expiration_Month__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Card_Expiration_Year__c</field>
            <value>
                <elementReference>get_opportunity.Expiration_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Card_Holder_Name__c</field>
            <value>
                <elementReference>get_opportunity.Holder_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Card_Number__c</field>
            <value>
                <elementReference>CreditCardNumber</elementReference>
            </value>
        </inputAssignments>
        <object>bt_stripe__Payment_Method__c</object>
    </recordCreates>
    <recordLookups>
        <name>get_opportunity</name>
        <label>get opportunity</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>payment_recordtype</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Associate_to_Opp</name>
        <label>Associate to Opp</label>
        <locationX>446</locationX>
        <locationY>542</locationY>
        <connector>
            <targetReference>Associate_to_person_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>bt_stripe__Payment_Method__c</field>
            <value>
                <elementReference>PaymentMethodCreatedID</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Associate_to_person_account</name>
        <label>Associate to person account</label>
        <locationX>446</locationX>
        <locationY>650</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_opportunity.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>bt_stripe__Default_Payment_Method__c</field>
            <value>
                <elementReference>PaymentMethodCreatedID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Default_Payment_Method__pc</field>
            <value>
                <elementReference>PaymentMethodCreatedID</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_opportunity</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AccountNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreditCardNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CVV</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PaymentMethodCreatedID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RoutingNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
