unpackaged/main/default/flows/Gather_Payment_Method_Transactions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Transaction_to_Collection</name>
        <label>Assign Transaction to Collection</label>
        <locationX>138</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varT_PmTransactions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Payment_Transactions.bt_stripe__Due_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_PmTransactions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>               </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_PmTransactions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Payment_Transactions.bt_stripe__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_PmTransactions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>\n</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Payment_Transactions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_2</name>
        <label>Assignment 2</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference></assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Has_Payment_Method</name>
        <label>Has Payment Method?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_Method_From_Opportunity</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Transactions_from_Payment_Method</targetReference>
            </connector>
            <label>Yes - Has payment Method</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Gather Payment Method Transactions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gather Payment Method Transactions</label>
    <loops>
        <name>Loop_Through_Payment_Transactions</name>
        <label>Loop Through Payment Transactions</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Transactions_from_Payment_Method</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Transaction_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assignment_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Payment_Method_From_Opportunity</name>
        <label>Get Payment Method From Opportunity</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Payment_Method</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Transactions_from_Payment_Method</name>
        <label>Get Transactions from Payment Method</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Payment_Transactions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>bt_stripe__Opportunity2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Payment_Method_From_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>bt_stripe__Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Payment_Method_From_Opportunity</targetReference>
        </connector>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>varT_PmTransactions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
