unpackaged/main/default/flows/Opp_Scheduled_Rep_End_Date_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Emails_Via_Apex</name>
        <label>Send Emails Via Apex</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>RepresentationEndDateEmailService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>opportunities</name>
            <value>
                <elementReference>Get_Opportunity_With_Less_Than_90_day_of_Rep</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RepresentationEndDateEmailService</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>FailureEmail</assignToReference>
            <name>failureCount</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>SuccessEmail</assignToReference>
            <name>successCount</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Assignmet</name>
        <label>Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ConverTaskAppsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ConverseAppTaskRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assignmet</name>
        <label>Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ConverTaskAppsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ConverseAppTaskRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Assignmet</name>
        <label>Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ConverTaskAppsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ConverseAppTaskRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create</name>
        <label>Create Converse App Task for Remaining 90 Days</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ConverseAppTaskRecord.account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConverseAppTaskRecord.smagicinteract__Automation_Key_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PA-000058</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConverseAppTaskRecord.case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Account.Latest_Case_Created__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignmet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Converse_App_Task_for_Remaining_30_Days</name>
        <label>Create Converse App Task for Remaining 30 Days</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ConverseAppTaskRecord.smagicinteract__Automation_Key_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PA-000060</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConverseAppTaskRecord.case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Account.Latest_Case_Created__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConverseAppTaskRecord.account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Assignmet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateConverseAppTaskforRemaining60Days</name>
        <label>Create Converse App Task for Remaining 60 Days</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ConverseAppTaskRecord.account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConverseAppTaskRecord.smagicinteract__Automation_Key_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PA-000059</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConverseAppTaskRecord.case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Account.Latest_Case_Created__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assignmet</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Opportunity_Remaining_Representation_Time</name>
        <label>Opportunity Remaining Representation Time</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.Remaining_Representation_Time__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>90.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create</targetReference>
            </connector>
            <label>90 Days</label>
        </rules>
        <rules>
            <name>X60_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.Remaining_Representation_Time__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateConverseAppTaskforRemaining60Days</targetReference>
            </connector>
            <label>60 Days</label>
        </rules>
        <rules>
            <name>X30_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.Remaining_Representation_Time__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Converse_App_Task_for_Remaining_30_Days</targetReference>
            </connector>
            <label>30 Days</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Opp] Scheduled Rep End Date Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Opportunity] - Scheduled Rep End Date Notification</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Opportunity_With_Less_Than_90_day_of_Rep</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Opportunity_Remaining_Representation_Time</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Records_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Records_1</name>
        <label>Create Converse App Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Emails_Via_Apex</targetReference>
        </connector>
        <inputReference>ConverTaskAppsList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity_With_Less_Than_90_day_of_Rep</name>
        <label>Get Opportunity With Less Than 90 day of Rep</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Remaining_Representation_Time__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>91.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>Remaining_Representation_Time__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>29.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>Remaining_Representation_Time__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_With_Less_Than_90_day_of_Rep</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-11-18</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>ConverseAppTaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>smagicinteract__Converse_App_Task__c</objectType>
    </variables>
    <variables>
        <name>ConverTaskAppsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>smagicinteract__Converse_App_Task__c</objectType>
    </variables>
    <variables>
        <name>FailureEmail</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>OppLess90DayRep</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>SuccessEmail</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
