unpackaged/main/default/flows/Opportunity_Populate_IRS_Officer_on_Related_Opps.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_IRS_Officer_Value</name>
        <label>Assign IRS Officer Value</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Loop_Cases.IRS_Revenue_Officer_on_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IRS_Revenue_Officer_on_Case__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Collection</name>
        <label>Assign to Collection</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>CaseCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Cases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Cases</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Populate IRS Officer on Related Opps {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Populate IRS Officer on Related Opps</label>
    <loops>
        <name>Loop_Cases</name>
        <label>Loop Cases</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Related_Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_IRS_Officer_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Case_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Cases</name>
        <label>Get Related Cases</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Collection</name>
        <label>Update Collection</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <inputReference>CaseCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IRS_Revenue_Officer_on_Case__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>FTOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>STOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
