unpackaged/main/default/flows/Opportunity_Create_a_Payment_Method.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Create_ACH_Payment_Method</name>
        <label>Create ACH Payment Method</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <actionName>CreateACHPaymentMethod</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountHolderType</name>
            <value>
                <elementReference>Account_Holder_Type</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountOpp</name>
            <value>
                <elementReference>Copy_1_of_Account.recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cardholderName</name>
            <value>
                <elementReference>Copy_1_of_HolderName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactOpp</name>
            <value>
                <elementReference>Copy_1_of_Contact.recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CountryIso</name>
            <value>
                <elementReference>Country_ISO</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>currencyIso</name>
            <value>
                <elementReference>Currency_ISO</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>paymentMethodRT</name>
            <value>
                <elementReference>SelectedRecordTypeId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreateACHPaymentMethod</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Credit_Card_Payment_Method</name>
        <label>Create Credit Card Payment Method</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <actionName>CreateCreditCardPaymentMethod</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountOpp</name>
            <value>
                <elementReference>AccountInput.recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cardholderName</name>
            <value>
                <elementReference>HolderName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cardType</name>
            <value>
                <elementReference>Credit_Card_Type</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactOpp</name>
            <value>
                <elementReference>ContactInput.recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>expiryMonth</name>
            <value>
                <elementReference>ExpirationMonth</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>expiryYear</name>
            <value>
                <elementReference>ExpirationYear</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>paymentMethodRT</name>
            <value>
                <elementReference>SelectedRecordTypeId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postalCode</name>
            <value>
                <elementReference>PostalCode</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreateCreditCardPaymentMethod</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>paymentMethodOutputId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Is_it_ACH_or_Card</name>
        <label>Is it ACH or Card</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ACH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PaymentMethodSelectedName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PaymentDetailsForACH</targetReference>
            </connector>
            <label>ACH</label>
        </rules>
        <rules>
            <name>Card</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PaymentMethodSelectedName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Card</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PaymentDetailsForCard</targetReference>
            </connector>
            <label>Card</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AccountHolderType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Account_Holder_Type__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CountryISO</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Country_ISO__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CreditCardType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Credit_Card_Type__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CurrencyISO</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Currency_ISO__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PaymentMethodChoices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>bt_stripe__Payment_Method__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <limit>2</limit>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>SelectedRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PaymentMethodSelectedName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Create a Payment Method {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Create a Payment Method</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opportunity_Contact_Role</name>
        <label>Get Opportunity Contact Role</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_it_ACH_or_Card</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_Method_Record</name>
        <label>Get Payment Method Record</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_The_Payment_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>bt_stripe__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>bt_stripe__Payment_Method__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>PaymentDetailsForACH</name>
        <label>PaymentDetailsForACH</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_ACH_Payment_Method</targetReference>
        </connector>
        <fields>
            <name>PaymentDetailsForACH_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PaymentDetailsForACH_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PaymentDetailsForACH_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Copy_1_of_PaymentDetailsHeader</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Payment Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PaymentDetailsForACH_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PaymentDetailsForACH_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PaymentDetailsForACH_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Copy_1_of_Test</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Record Type :  &lt;/strong&gt;{!PaymentMethodChoicesRB}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_HolderName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.Holder_Name__c</elementReference>
            </defaultValue>
            <fieldText>Holder Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PaymentDetailsForACH_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PaymentDetailsForACH_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_RoutingAndAccountNumber</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;For security reasons, &lt;/span&gt;&lt;strong&gt;Account&lt;/strong&gt; &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; and &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Routing Number&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; can only be verified on the record page. Please verify that these fields are populated before proceeding.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Account_Holder_Type</name>
                    <choiceReferences>AccountHolderType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Account_Holder_Type__c</elementReference>
                    </defaultValue>
                    <fieldText>Account Holder Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Currency_ISO</name>
                    <choiceReferences>CurrencyISO</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Currency_ISO__c</elementReference>
                    </defaultValue>
                    <fieldText>Currency ISO</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Country_ISO</name>
                    <choiceReferences>CountryISO</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Country_ISO__c</elementReference>
                    </defaultValue>
                    <fieldText>Country ISO</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Copy_1_of_Account</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId.AccountId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_Contact</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ContactId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Opportunity_Contact_Role.Contact.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Sent_to_Gateway_for_Card_ACH</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Sent to Gateway for Card</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PaymentDetailsForCard</name>
        <label>PaymentDetailsForCard</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Credit_Card_Payment_Method</targetReference>
        </connector>
        <fields>
            <name>PaymentDetailsForCard_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PaymentDetailsForCard_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PaymentDetailsForCard_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_PaymentDetailsHeader</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Payment Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PaymentDetailsForCard_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PaymentDetailsForCard_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PaymentDetailsForCard_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Test</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Record Type :  &lt;/strong&gt;{!PaymentMethodChoicesRB}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>HolderName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.Holder_Name__c</elementReference>
            </defaultValue>
            <fieldText>Holder Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Credit_Card_Type</name>
            <choiceReferences>CreditCardType</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.Credit_Card_Type__c</elementReference>
            </defaultValue>
            <fieldText>Credit Card Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PaymentDetailsForCard_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PaymentDetailsForCard_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RoutingAndAccountNumber</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;For security reasons, &lt;/span&gt;&lt;strong&gt;Credit Card Number&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; and &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;CVV&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; can only be verified on the record page. Please verify that these fields are populated before proceeding.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ExpirationMonth</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Expiration_Month__c</elementReference>
                    </defaultValue>
                    <fieldText>Expiration Month</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ExpirationYear</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Expiration_Year__c</elementReference>
                    </defaultValue>
                    <fieldText>Expiration Year</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>PostalCode</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Postal_Code__c</elementReference>
                    </defaultValue>
                    <fieldText>Postal Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>AccountInput</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId.AccountId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>ContactInput</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ContactId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Opportunity_Contact_Role.Contact.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Sent_to_Gateway_for_Card</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Sent to Gateway for Card</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_The_Payment_Record_Type</name>
        <label>Select The Payment Record Type</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Opportunity_Contact_Role</targetReference>
        </connector>
        <fields>
            <name>PaymentMethodChoicesRB</name>
            <choiceReferences>PaymentMethodChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Pick a Payment Method Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <pauseButtonLabel>Cancel</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Payment_Method_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paymentMethodOutputId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Create_Credit_Card_Payment_Method</elementReference>
        </value>
    </variables>
    <variables>
        <name>PaymentMethodSelectedName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>SelectedRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
