unpackaged/main/default/flows/Opportunity_Auto_Close_PIF_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_2nd_Trade_Opportunity_Values</name>
        <label>Assign 2nd Trade Opportunity Values</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>SecondTradeOppty.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SecondTradeOppty.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CloseDateFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SecondTradeOppty.IA_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>$Record.Description</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SecondTradeOppty.IRS_Revenue_Officer_on_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IRS_Revenue_Officer_on_Case__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SecondTradeOppty.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Preliminary Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SecondTradeOppty.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_2T_RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SecondTradeOppty.X1T_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X2T_Opportunity_Already_Created</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Close_Values</name>
        <label>Assign Opportunity Close Values</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>$Record.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TI PIF Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_2T_RecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TI_PIF</name>
        <label>Assign TI PIF</label>
        <locationX>226</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>$Record.TI_PIF_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_TI_Case_RecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Check_Checkbox</name>
        <label>Check Checkbox &amp; Populate 2T</label>
        <locationX>138</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>$Record.X2T_Opportunity_Created_Automatically__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.X2T_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SecondTradeOppty.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Triggering_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Completed_Cases</name>
        <label>Found Completed Cases?</label>
        <locationX>226</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Update_Triggering_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Completed_TI_Case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Opportunity_Close_Values</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>X2T_Opportunity_Already_Created</name>
        <label>2T Opportunity Already Created?</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Create_2T_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.X2T_Opportunity_Created_Automatically__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Triggering_Opportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Closes the opportunity automatically.</description>
    <environments>Default</environments>
    <formulas>
        <name>CloseDateFormula</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CloseDate} + 7</expression>
    </formulas>
    <interviewLabel>Opportunity - Auto Close PIF Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Auto Close PIF Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_2T_Opportunity</name>
        <label>Create 2T Opportunity</label>
        <locationX>138</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Check_Checkbox</targetReference>
        </connector>
        <inputReference>SecondTradeOppty</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_2T_RecordType</name>
        <label>Get 2T RecordType</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_2nd_Trade_Opportunity_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Second Trade</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Completed_TI_Case</name>
        <label>Get Completed TI Case</label>
        <locationX>226</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Completed_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case Completed Successful</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_TI_Case_RecordType</name>
        <label>Get TI Case RecordType</label>
        <locationX>226</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Completed_TI_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TI Follow Up Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Triggering_Opportunity</name>
        <label>Update Triggering Opportunity</label>
        <locationX>226</locationX>
        <locationY>1571</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_TI_PIF</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sub_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TI PIF</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SecondTradeOppty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
