unpackaged/main/default/flows/Opportunity_Schedule_Close_2nd_Trade_Opportunities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Is_a_2nd_Trade_Opp</name>
        <label>Is a 2nd Trade Opp?</label>
        <locationX>842</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_2nd_Trade_Opportunity_Record_Type.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Calls</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Meets_Conditions_to_Close</name>
        <label>Meets Conditions to Close?</label>
        <locationX>578</locationX>
        <locationY>684</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Calls</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Events</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_is_the_Opp_SubStage</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_Opp_SubStage</name>
        <label>What is the Opp SubStage?</label>
        <locationX>314</locationX>
        <locationY>792</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quoted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sub_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quoted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Lost_Opp</targetReference>
            </connector>
            <label>Quoted</label>
        </rules>
        <rules>
            <name>No_Contact_or_Contacted</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sub_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attempting Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contacted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Close_Lost_Opp</targetReference>
            </connector>
            <label>No Contact or Contacted</label>
        </rules>
    </decisions>
    <description>This flow runs daily and close 2nd Trade Opportunities on Quoted, No Contact ,or Contacted Sub-Stage with no Logged calls in the last 60 days and no Future events.</description>
    <environments>Default</environments>
    <formulas>
        <name>LastCallDate</name>
        <dataType>Date</dataType>
        <expression>Today() - 60</expression>
    </formulas>
    <formulas>
        <name>LastEventDate</name>
        <dataType>Date</dataType>
        <expression>TODAY ()</expression>
    </formulas>
    <interviewLabel>Opportunity - Schedule - Close 2nd Trade Opportunities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Schedule - Close 2nd Trade Opportunities</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_2nd_Trade_Opportunity_Record_Type</name>
        <label>Get 2nd Trade Opportunity Record Type</label>
        <locationX>842</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_a_2nd_Trade_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Second_Trade</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Calls</name>
        <label>Get Calls</label>
        <locationX>578</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Events</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TaskSubtype</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>LastCallDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Events</name>
        <label>Get Events</label>
        <locationX>578</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Meets_Conditions_to_Close</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>LastEventDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_Lost_Opp</name>
        <label>Close Lost Opp</label>
        <locationX>50</locationX>
        <locationY>900</locationY>
        <inputAssignments>
            <field>Loss_Reason__c</field>
            <value>
                <stringValue>2nd Trade Nurture Priority</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Close_Lost_Opp</name>
        <label>Close Lost Opp</label>
        <locationX>314</locationX>
        <locationY>900</locationY>
        <inputAssignments>
            <field>Loss_Reason__c</field>
            <value>
                <stringValue>2nd Trade Nurture</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_2nd_Trade_Opportunity_Record_Type</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Sub_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quoted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sub_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Attempting Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sub_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contacted</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2025-01-14</startDate>
            <startTime>01:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
