unpackaged/main/default/flows/Payment_Schedules_Create_payment_schedules.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Create_Payment_Schedule</name>
        <label>Create Payment Schedule</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>PaymentScheduleGenQueuable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountPs</name>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>autoCapture</name>
            <value>
                <elementReference>Auto_Process_Transactions</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>balanceDue</name>
            <value>
                <elementReference>Balance_Due</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>balancePaid</name>
            <value>
                <elementReference>Balance_Paid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>captureFirst</name>
            <value>
                <elementReference>Capture_First_Transaction_Now</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactPs</name>
            <value>
                <elementReference>Contact.recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>count</name>
            <value>
                <elementReference>Count</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cron</name>
            <value>
                <elementReference>CRON</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>currencyITR</name>
            <value>
                <elementReference>Currency</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dayOfTheMonth</name>
            <value>
                <elementReference>Day_of_Month</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dayOfTheWeek</name>
            <value>
                <elementReference>Day_Of_Week</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>description</name>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>eachAmount</name>
            <value>
                <elementReference>Each_Amount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>endDate</name>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ezPreset</name>
            <value>
                <elementReference>EZ_Preset</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>frequency</name>
            <value>
                <elementReference>Frequency</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>initialAmount</name>
            <value>
                <elementReference>Initial_Amount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>monthOfYear</name>
            <value>
                <elementReference>Month_of_Year</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextPaymentDate</name>
            <value>
                <elementReference>Next_Payment_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>onThe</name>
            <value>
                <elementReference>On_the</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>Opportunity.recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>paymentGateway</name>
            <value>
                <elementReference>Payment_Gateway.recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>paymentMethodPs</name>
            <value>
                <elementReference>Payment_Method.recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>paymentStatus</name>
            <value>
                <elementReference>Payment_Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recurrenceMethod</name>
            <value>
                <elementReference>Recurrence_Method</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>repeats</name>
            <value>
                <elementReference>Repeats</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scheduleStatus</name>
            <value>
                <elementReference>Schedule_Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDate</name>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>totalAmount</name>
            <value>
                <elementReference>Total_Amount</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PaymentScheduleGenQueuable</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <dynamicChoiceSets>
        <name>CurrencyPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>bt_stripe__Currency__c</picklistField>
        <picklistObject>bt_stripe__Payment_Schedule__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DayOfMonthPicklists</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>bt_stripe__Day_of_Month__c</picklistField>
        <picklistObject>bt_stripe__Payment_Schedule__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DayOfWeekPicklist</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>bt_stripe__Day_of_Week__c</picklistField>
        <picklistObject>bt_stripe__Payment_Schedule__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EZPresetChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>bt_stripe__Preset__c</picklistField>
        <picklistObject>bt_stripe__Payment_Schedule__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MonthOfYearPicklist</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>bt_stripe__Month_of_Year__c</picklistField>
        <picklistObject>bt_stripe__Payment_Schedule__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OnThePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>bt_stripe__On_The__c</picklistField>
        <picklistObject>bt_stripe__Payment_Schedule__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PaymentStatusPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>bt_stripe__Payment_Status__c</picklistField>
        <picklistObject>bt_stripe__Payment_Schedule__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecurrenceMethodPickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>bt_stripe__Recurrence_Method__c</picklistField>
        <picklistObject>bt_stripe__Payment_Schedule__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RepeatsPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>bt_stripe__Repeats__c</picklistField>
        <picklistObject>bt_stripe__Payment_Schedule__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ScheduleStatusPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>bt_stripe__Status__c</picklistField>
        <picklistObject>bt_stripe__Payment_Schedule__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>NewPaymentScheduleLinkFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &#39;/services&#39;, {!$Api.Partner_Server_URL_260})) &amp; {!PaymentScheduleId}</expression>
    </formulas>
    <formulas>
        <name>RecordURL</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;/&quot; &amp; {!recordId}, &quot;View Opportunity&quot;)</expression>
    </formulas>
    <interviewLabel>Payment Schedules - Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment Schedules - Create payment schedules</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreatePaymentSchedule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CreatePaymentSchedule</name>
        <label>CreatePaymentSchedule</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Payment_Schedule</targetReference>
        </connector>
        <fields>
            <name>CreatePaymentSchedule_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CreatePaymentSchedule_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CreatePaymentSchedule_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CreatePaymentSchedule_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NewPaymentScheduleInformation</name>
                    <fieldText>&lt;h2&gt;&lt;strong&gt;New Payment Schedule&lt;/strong&gt;&lt;/h2&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CreatePaymentSchedule_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Information</name>
            <fieldText>Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EZ_Preset</name>
                    <choiceReferences>EZPresetChoices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>EZ Preset</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Recurrence_Method</name>
                    <choiceReferences>RecurrenceMethodPickList</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Recurrence Method</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Start_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>End_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Count</name>
                    <dataType>Number</dataType>
                    <fieldText>Count</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Initial_Amount</name>
                    <dataType>Number</dataType>
                    <fieldText>Initial Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Each_Amount</name>
                    <dataType>Number</dataType>
                    <fieldText>Each Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Total_Amount</name>
                    <dataType>Number</dataType>
                    <fieldText>Total Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Currency</name>
                    <choiceReferences>CurrencyPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Currency</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Description</name>
                    <dataType>String</dataType>
                    <fieldText>Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Related_To</name>
            <fieldText>Related To</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Related_To_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Payment_Gateway</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>bt_stripe__Payment_Gateway__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Payment Gateway</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>bt_stripe__Payment_Schedule__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Payment_Method</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>bt_stripe__Payment_Method__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Payment Method</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>bt_stripe__Payment_Schedule__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Related_To_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Account</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>bt_stripe__Account__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>bt_stripe__Payment_Schedule__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Opportunity_Record.Account.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Contact</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>bt_stripe__Contact__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>bt_stripe__Payment_Schedule__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Opportunity_Record.Account.PersonContact.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Opportunity</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Opportunity__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>bt_stripe__Payment_Schedule__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Status</name>
            <fieldText>Status</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Status_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Schedule_Status</name>
                    <choiceReferences>ScheduleStatusPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Schedule Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Payment_Status</name>
                    <choiceReferences>PaymentStatusPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Payment Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Status_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Balance_Paid</name>
                    <dataType>Number</dataType>
                    <fieldText>Balance Paid</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Balance_Due</name>
                    <dataType>Number</dataType>
                    <fieldText>Balance Due</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Next_Payment_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Next Payment Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Schedule_Details</name>
            <fieldText>Schedule Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Schedule_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Repeats</name>
                    <choiceReferences>RepeatsPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Repeats</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Frequency</name>
                    <dataType>Number</dataType>
                    <fieldText>Frequency</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Day_of_Month</name>
                    <choiceReferences>DayOfMonthPicklists</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Day of Month</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Month_of_Year</name>
                    <choiceReferences>MonthOfYearPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Month of Year</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>On_the</name>
                    <choiceReferences>OnThePicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>On the</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Day_Of_Week</name>
                    <choiceReferences>DayOfWeekPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Day Of Week</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>CRON_Expression</name>
            <fieldText>CRON Expression</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CRON_Expression_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CRON</name>
                    <dataType>String</dataType>
                    <fieldText>CRON</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Logic</name>
            <fieldText>Logic</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Logic_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Capture_First_Transaction_Now</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Capture First Transaction Now</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Auto_Process_Transactions</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Auto-Process Transactions</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <pauseButtonLabel>Cancel</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>PaymentScheduleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
