unpackaged/main/default/flows/Payment_Schedule_Daily_Create_Reinstatement_Fee.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>New_Transaction</name>
        <label>New Transaction</label>
        <locationX>264</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>singleTracsaction.bt_stripe__Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>500.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleTracsaction.bt_stripe__Related_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_PS.bt_stripe__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleTracsaction.bt_stripe__Opportunity2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_PS.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleTracsaction.bt_stripe__Transaction_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleTracsaction.bt_stripe__Transaction_Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Late Fee</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleTracsaction.bt_stripe__Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_PS.bt_stripe__Next_Payment_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleTracsaction.bt_stripe__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reinstatement fee.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleTracsaction.bt_stripe__Payment_Schedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_PS.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleTracsaction.bt_stripe__Related_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_PS.bt_stripe__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleTracsaction.bt_stripe__Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_PS.bt_stripe__Payment_Method__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleTracsaction.bt_stripe__Auto_Capture__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Transactions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Transactions</name>
        <label>Transactions</label>
        <locationX>264</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>newTransactions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleTracsaction</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_PS</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Second_Trade_Opportunity</name>
        <label>Is Second Trade Opportunity?</label>
        <locationX>396</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>For_each_PS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Second_Trade_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_each_PS.Opportunity__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Second Trade</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Transaction</targetReference>
            </connector>
            <label>Second Trade Opp</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Payment Schedule - Daily - Create Reinstatement Fee {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment Schedule - Daily - Create Reinstatement Fee</label>
    <loops>
        <name>For_each_PS</name>
        <label>For each PS</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>Get_Payment_Schedules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Second_Trade_Opportunity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_Transaction</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Transaction</name>
        <label>Create New Transaction</label>
        <locationX>176</locationX>
        <locationY>960</locationY>
        <inputReference>newTransactions</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Payment_Schedules</name>
        <label>Get Payment Schedules</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_each_PS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Days_Failed_To_Collect_Formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>bt_stripe__Payment_Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Payment_Schedules</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-01-17</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>amount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>newTransactions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>bt_stripe__Transaction__c</objectType>
    </variables>
    <variables>
        <name>singleTracsaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>bt_stripe__Transaction__c</objectType>
    </variables>
</Flow>
