unpackaged/main/default/flows/RTF_Reparent_Business_Records_to_Account_Record_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_Person_Account_Id_to_Collection</name>
        <label>Add Person Account Id to Collection</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varR_ReparentedBusinesses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Business_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Business_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Person_Account</name>
        <label>Set Person Account</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Business_Records.Related_Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Person_Account_Id_to_Collection</targetReference>
        </connector>
    </assignments>
    <description>This flow reparents allow business records associated with a Lead to its resulting Person Account</description>
    <environments>Default</environments>
    <interviewLabel>RTF: Reparent Business Records to Account Record (After Save) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF: Reparent Business Records to Account Record (After Save)</label>
    <loops>
        <name>Loop_through_Business_Records</name>
        <label>Loop through Business Records</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Related_Business_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Person_Account</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Business_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Business_Records</name>
        <label>Get Related Business Records</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Business_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Business__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Business_Records</name>
        <label>Update Business Records</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <inputReference>varR_ReparentedBusinesses</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Business_Records</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varR_Business</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Business__c</objectType>
    </variables>
    <variables>
        <name>varR_ReparentedBusinesses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Business__c</objectType>
    </variables>
</Flow>
