unpackaged/main/default/flows/RTF_Transaction_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_to_1k_Approval_Process</name>
        <label>Submit to 1k Approval Process for new Transaction</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>ITR_Approval_Process_1k_Transaction</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_to_Fee_Waiver_Approval_Process_for_new_Transaction</name>
        <label>Submit to Fee Waiver Approval Process for new Transaction</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>ITR_Approval_Refund_Waiver</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>What_action_to_take</name>
        <label>What action to take?</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Submit_Transaction_to_Fee_Waiver_Approval_Process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.bt_stripe__Transaction_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refund</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.bt_stripe__Transaction_Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fee Waiver</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_to_Fee_Waiver_Approval_Process_for_new_Transaction</targetReference>
            </connector>
            <label>Submit Transaction to Fee Waiver Approval Process</label>
        </rules>
        <rules>
            <name>Submit_Transaction_to_1k_Review_Approval_Process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.bt_stripe__Amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.ProfileId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Label.ITR_Profile</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_to_1k_Approval_Process</targetReference>
            </connector>
            <label>Submit Transaction to 1k Review Approval Process</label>
        </rules>
    </decisions>
    <description>12/30: This flow submits a transaction for review if it is a refund or if the dollar amount is greater than 1k for a single transaction.</description>
    <environments>Default</environments>
    <formulas>
        <name>ForB_IsNew</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <interviewLabel>RTF: Transaction Updates Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF: Submit Transaction to Approval Processes for Review</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_action_to_take</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR 3</filterLogic>
        <filters>
            <field>bt_stripe__Transaction_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Refund</stringValue>
            </value>
        </filters>
        <filters>
            <field>bt_stripe__Transaction_Sub_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fee Waiver</stringValue>
            </value>
        </filters>
        <filters>
            <field>bt_stripe__Amount__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>1000.0</numberValue>
            </value>
        </filters>
        <object>bt_stripe__Transaction__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
