unpackaged/main/default/flows/RTF_Transaction_Created_Actions_Updates_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Does_client_have_an_email_listed</name>
        <label>Does client have an email listed?</label>
        <locationX>220</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity_of_Failed_Transaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No email</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_an_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.bt_stripe__Related_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_of_Failed_Transaction</targetReference>
            </connector>
            <label>Yes - Has an email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Failed_or</name>
        <label>Failed or Completed</label>
        <locationX>484</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.bt_stripe__Transaction_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.bt_stripe__Payment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Uncaptured</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_client_have_an_email_listed</targetReference>
            </connector>
            <label>Failed?</label>
        </rules>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.bt_stripe__Transaction_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.bt_stripe__Payment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Captured</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_of_captured_Transaction</targetReference>
            </connector>
            <label>Completed?</label>
        </rules>
    </decisions>
    <description>This flow is designed to carry out functions when a transaction record payment status is set to fail.</description>
    <environments>Default</environments>
    <formulas>
        <name>forB_IsNew</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <interviewLabel>RTF: Transaction Created Actions &amp; Updates Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF: Payment Status Notification Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Opportunity_of_captured_Transaction</name>
        <label>Update Opportunity of Captured Transaction</label>
        <locationX>484</locationX>
        <locationY>384</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.bt_stripe__Opportunity2__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Failed_Transaction__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_of_Failed_Transaction</name>
        <label>Update Opportunity of Failed Transaction</label>
        <locationX>220</locationX>
        <locationY>576</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.bt_stripe__Opportunity2__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Failed_Transaction__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>bt_stripe__Transaction_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>bt_stripe__Transaction__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Failed_or</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
