unpackaged/main/default/flows/Screen_Flow_Create_2nd_Trade_Opportunity_from_Task_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Associated_to_opp</name>
        <label>Associated to opp</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Account_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Oppty_Created_Already</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Task_Details.X2T_Opportunity_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirmation_Screen_Opportunity_Exists</targetReference>
            </connector>
            <label>Oppty Created Already?</label>
        </rules>
    </decisions>
    <description>1/2: Updated the Owner field mapping to link directly from the running user.</description>
    <environments>Default</environments>
    <formulas>
        <name>CloseDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()+7</expression>
    </formulas>
    <formulas>
        <name>formAcc_oppName</name>
        <dataType>String</dataType>
        <expression>{!Get_Account_Details.FirstName}&amp;&quot; &quot;&amp;{!Get_Account_Details.LastName}&amp;&quot;-2nd Trade Opportunity&quot;</expression>
    </formulas>
    <formulas>
        <name>forT_ViewRecordButton</name>
        <dataType>String</dataType>
        <expression>&#39;&lt;a class=&quot;button_outline-brand&quot; target=&quot;_top&quot; href=&quot;&#39; &amp;
    LEFT( {!$Api.Partner_Server_URL_580} , FIND( &#39;/services/&#39; , {!$Api.Partner_Server_URL_580})) &amp; {!Create_2nd_trade_Opportunity} &amp;
&#39;&quot;&gt;Click here to view the record!&lt;/a&gt;&#39;</expression>
    </formulas>
    <interviewLabel>Screen Flow: Create 2nd Trade Opportunity from Task (After Save) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow: Create 2nd Trade Opportunity from Task (After Save)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_2nd_trade_Opportunity</name>
        <label>Create 2nd trade Opportunity</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Set_Task_Status_to_Completed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Confirmation_Screen_Fail</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_the_Task_Details.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Get_the_Task_Details.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formAcc_oppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.Second_Trade_Opportunity_record_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Preliminary Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>2nd Trade</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Details</name>
        <label>Get Account Details</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_2nd_trade_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_the_Task_Details.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Task_Details</name>
        <label>Get the Task Details</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Associated_to_opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Task_Status_to_Completed</name>
        <label>Set Task Status to Completed</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Confirmation_Screen_Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_the_Task_Details.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X2T_Opportunity_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <screens>
        <name>Confirmation_Screen_Fail</name>
        <label>Confirmation Screen - Fail</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_OpportunityCreatedScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://innovative-tax-relief.file.force.com/sfc/servlet.shepherd/version/download/068Po00000TNghD?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;logo-ITR-22 (1).png&quot;&gt;&lt;/p&gt;&lt;p&gt;{!$Label.Failure_Toast}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;The second trade opportunity was not created.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen_Opportunity_Exists</name>
        <label>Confirmation Screen - Opportunity Exists</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>OpportunityExists</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://innovative-tax-relief.file.force.com/sfc/servlet.shepherd/version/download/068Po00000TNghD?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;logo-ITR-22 (1).png&quot;&gt;&lt;/p&gt;&lt;p&gt;{!$Label.Success_Toast}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;The second trade opportunity for&lt;/span&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;already exists for this customer. &lt;/span&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!forT_ViewRecordButton}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen_Success</name>
        <label>Confirmation Screen - Success</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>OpportunityCreatedScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://innovative-tax-relief.file.force.com/sfc/servlet.shepherd/version/download/068Po00000TNghD?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;logo-ITR-22 (1).png&quot;&gt;&lt;/p&gt;&lt;p&gt;{!$Label.Success_Toast}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;The second trade opportunity for &lt;/span&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!Get_Account_Details.Name} &lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;has been created. &lt;/span&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!forT_ViewRecordButton}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_the_Task_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>TaskID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
