unpackaged/main/default/flows/Send_S.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Copy_1_of_English_or_Spanish</name>
        <label>Copy 1 of English or Spanish</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Send_SMS_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Spanish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Account.Spanish_Speaking__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Send_SMS_1</targetReference>
            </connector>
            <label>Copy 1 of Spanish</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_English_or_Spanish</name>
        <label>Copy 2 of English or Spanish</label>
        <locationX>1238</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Send_SMS_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Spanish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Account.Spanish_Speaking__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Send_SMS_1</targetReference>
            </connector>
            <label>Copy 2 of Spanish</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_3_of_English_or_Spanish</name>
        <label>Copy 3 of English or Spanish</label>
        <locationX>1766</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Copy_3_of_Send_SMS_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_Spanish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Account.Spanish_Speaking__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Send_SMS_1</targetReference>
            </connector>
            <label>Copy 3 of Spanish</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_4_of_English_or_Spanish</name>
        <label>Copy 4 of English or Spanish</label>
        <locationX>2294</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Copy_4_of_Send_SMS_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_4_of_Spanish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Account.Spanish_Speaking__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Send_SMS_1</targetReference>
            </connector>
            <label>Copy 4 of Spanish</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_5_of_English_or_Spanish</name>
        <label>Copy 5 of English or Spanish</label>
        <locationX>2822</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Copy_5_of_Send_SMS_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_5_of_Spanish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Account.Spanish_Speaking__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Send_SMS_1</targetReference>
            </connector>
            <label>Copy 5 of Spanish</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_6_of_English_or_Spanish</name>
        <label>Copy 6 of English or Spanish</label>
        <locationX>3350</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Copy_6_of_Send_SMS_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_6_of_Spanish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Account.Spanish_Speaking__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_6_of_Send_SMS_1</targetReference>
            </connector>
            <label>Copy 6 of Spanish</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_7_of_English_or_Spanish</name>
        <label>Copy 7 of English or Spanish</label>
        <locationX>3878</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Copy_7_of_Send_SMS_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_7_of_Spanish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Account.Spanish_Speaking__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_7_of_Send_SMS_1</targetReference>
            </connector>
            <label>Copy 7 of Spanish</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_8_of_English_or_Spanish</name>
        <label>Copy 8 of English or Spanish</label>
        <locationX>4406</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Copy_8_of_Send_SMS_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_8_of_Spanish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Account.Spanish_Speaking__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_8_of_Send_SMS_1</targetReference>
            </connector>
            <label>Copy 8 of Spanish</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_9_of_English_or_Spanish</name>
        <label>Copy 9 of English or Spanish</label>
        <locationX>4934</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Copy_9_of_Send_SMS_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_9_of_Spanish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Account.Spanish_Speaking__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_9_of_Send_SMS_1</targetReference>
            </connector>
            <label>Copy 9 of Spanish</label>
        </rules>
    </decisions>
    <decisions>
        <name>English_or_Spanish</name>
        <label>English or Spanish</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Send_SMS_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Spanish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Account.Spanish_Speaking__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_SMS_1</targetReference>
            </connector>
            <label>Spanish</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Status_and_Substatus</name>
        <label>Evaluate Status and Substatus</label>
        <locationX>2756</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_intro_and_Attemp_Cont</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sub_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attempting Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Intro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Customer_Phone_Number__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>English_or_Spanish</targetReference>
            </connector>
            <label>Is intro and Attemp. Cont.</label>
        </rules>
        <rules>
            <name>Status_Tax_Prep_Docs_Requested_Substatus_Att_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sub_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attempting Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Customer_Phone_Number__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_English_or_Spanish</targetReference>
            </connector>
            <label>Status: Tax Prep Docs Requested Substatus: Att Contact</label>
        </rules>
        <rules>
            <name>Status_Tax_Prep_Docs_Collected_Substatus_Att_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sub_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attempting Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tax Prep Docs Collected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Customer_Phone_Number__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_English_or_Spanish</targetReference>
            </connector>
            <label>Status: Tax Prep Docs Collected Substatus: Att Contact</label>
        </rules>
        <rules>
            <name>Status_Tax_Prep_Docs_Submitted_Substatus_Att_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sub_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attempting Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tax Prep Docs Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Customer_Phone_Number__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_English_or_Spanish</targetReference>
            </connector>
            <label>Status: Tax Prep Docs Submitted Substatus: Att Contact</label>
        </rules>
        <rules>
            <name>Status_Tax_Prep_Docs_Accepted_Substatus_Att_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sub_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attempting Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tax Prep Docs Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Customer_Phone_Number__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_English_or_Spanish</targetReference>
            </connector>
            <label>Status: Tax Prep Docs Accepted Substatus: Att Contact</label>
        </rules>
        <rules>
            <name>Status_Resolution_Docs_Requested_Substatus_Att_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sub_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attempting Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolution Docs Requested</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Customer_Phone_Number__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_English_or_Spanish</targetReference>
            </connector>
            <label>Status: Resolution Docs Requested Substatus: Att Contact</label>
        </rules>
        <rules>
            <name>Status_Resolution_Docs_Collected_Substatus_Att_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sub_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attempting Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolution Docs Collected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Customer_Phone_Number__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_6_of_English_or_Spanish</targetReference>
            </connector>
            <label>Status: Resolution Docs Collected Substatus: Att Contact</label>
        </rules>
        <rules>
            <name>Status_Resolution_Docs_Submitted_Substatus_Att_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sub_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attempting Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolution Docs Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Customer_Phone_Number__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_7_of_English_or_Spanish</targetReference>
            </connector>
            <label>Status: Resolution Docs Submitted Substatus: Att Contact</label>
        </rules>
        <rules>
            <name>Status_Resolution_Docs_Accepted_Substatus_Att_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sub_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attempting Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolution Docs Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Customer_Phone_Number__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_8_of_English_or_Spanish</targetReference>
            </connector>
            <label>Status: Resolution Docs Accepted Substatus: Att Contact</label>
        </rules>
        <rules>
            <name>Status_Closed_Substatus_Att_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sub_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attempting Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Customer_Phone_Number__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_9_of_English_or_Spanish</targetReference>
            </connector>
            <label>Status: Closed Substatus: Att Contact</label>
        </rules>
    </decisions>
    <description>Cases - Send Attempting Contact Case Managers SMS

To send  Send Attempting Contact SMS on cases.</description>
    <environments>Default</environments>
    <interviewLabel>Send S {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cases - Send Attempting Contact Case Managers SMS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Send_SMS_1</name>
        <label>Copy 1 of Send SMS 1</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>opportunity__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smagicinteract__Automation_Key_Reference__c</field>
            <value>
                <elementReference>SMS_Action_key_Spanish_template</elementReference>
            </value>
        </inputAssignments>
        <object>smagicinteract__Converse_App_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Send_SMS_2</name>
        <label>Copy 1 of Send SMS 2</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>opportunity__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smagicinteract__Automation_Key_Reference__c</field>
            <value>
                <elementReference>SMS_Action_key_English_template</elementReference>
            </value>
        </inputAssignments>
        <object>smagicinteract__Converse_App_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Send_SMS_1</name>
        <label>Copy 2 of Send SMS 1</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>opportunity__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smagicinteract__Automation_Key_Reference__c</field>
            <value>
                <elementReference>SMS_Action_key_Spanish_template</elementReference>
            </value>
        </inputAssignments>
        <object>smagicinteract__Converse_App_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Send_SMS_2</name>
        <label>Copy 2 of Send SMS 2</label>
        <locationX>1370</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>opportunity__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smagicinteract__Automation_Key_Reference__c</field>
            <value>
                <elementReference>SMS_Action_key_English_template</elementReference>
            </value>
        </inputAssignments>
        <object>smagicinteract__Converse_App_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_3_of_Send_SMS_1</name>
        <label>Copy 3 of Send SMS 1</label>
        <locationX>1634</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>opportunity__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smagicinteract__Automation_Key_Reference__c</field>
            <value>
                <elementReference>SMS_Action_key_Spanish_template</elementReference>
            </value>
        </inputAssignments>
        <object>smagicinteract__Converse_App_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_3_of_Send_SMS_2</name>
        <label>Copy 3 of Send SMS 2</label>
        <locationX>1898</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>opportunity__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smagicinteract__Automation_Key_Reference__c</field>
            <value>
                <elementReference>SMS_Action_key_English_template</elementReference>
            </value>
        </inputAssignments>
        <object>smagicinteract__Converse_App_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_4_of_Send_SMS_1</name>
        <label>Copy 4 of Send SMS 1</label>
        <locationX>2162</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>opportunity__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smagicinteract__Automation_Key_Reference__c</field>
            <value>
                <elementReference>SMS_Action_key_Spanish_template</elementReference>
            </value>
        </inputAssignments>
        <object>smagicinteract__Converse_App_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_4_of_Send_SMS_2</name>
        <label>Copy 4 of Send SMS 2</label>
        <locationX>2426</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>opportunity__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smagicinteract__Automation_Key_Reference__c</field>
            <value>
                <elementReference>SMS_Action_key_English_template</elementReference>
            </value>
        </inputAssignments>
        <object>smagicinteract__Converse_App_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_5_of_Send_SMS_1</name>
        <label>Copy 5 of Send SMS 1</label>
        <locationX>2690</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>opportunity__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smagicinteract__Automation_Key_Reference__c</field>
            <value>
                <elementReference>SMS_Action_key_Spanish_template</elementReference>
            </value>
        </inputAssignments>
        <object>smagicinteract__Converse_App_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_5_of_Send_SMS_2</name>
        <label>Copy 5 of Send SMS 2</label>
        <locationX>2954</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>opportunity__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smagicinteract__Automation_Key_Reference__c</field>
            <value>
                <elementReference>SMS_Action_key_English_template</elementReference>
            </value>
        </inputAssignments>
        <object>smagicinteract__Converse_App_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_6_of_Send_SMS_1</name>
        <label>Copy 6 of Send SMS 1</label>
        <locationX>3218</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>opportunity__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smagicinteract__Automation_Key_Reference__c</field>
            <value>
                <elementReference>SMS_Action_key_Spanish_template</elementReference>
            </value>
        </inputAssignments>
        <object>smagicinteract__Converse_App_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_6_of_Send_SMS_2</name>
        <label>Copy 6 of Send SMS 2</label>
        <locationX>3482</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>opportunity__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smagicinteract__Automation_Key_Reference__c</field>
            <value>
                <elementReference>SMS_Action_key_English_template</elementReference>
            </value>
        </inputAssignments>
        <object>smagicinteract__Converse_App_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_7_of_Send_SMS_1</name>
        <label>Copy 7 of Send SMS 1</label>
        <locationX>3746</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>opportunity__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smagicinteract__Automation_Key_Reference__c</field>
            <value>
                <elementReference>SMS_Action_key_Spanish_template</elementReference>
            </value>
        </inputAssignments>
        <object>smagicinteract__Converse_App_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_7_of_Send_SMS_2</name>
        <label>Copy 7 of Send SMS 2</label>
        <locationX>4010</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>opportunity__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smagicinteract__Automation_Key_Reference__c</field>
            <value>
                <elementReference>SMS_Action_key_English_template</elementReference>
            </value>
        </inputAssignments>
        <object>smagicinteract__Converse_App_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_8_of_Send_SMS_1</name>
        <label>Copy 8 of Send SMS 1</label>
        <locationX>4274</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>opportunity__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smagicinteract__Automation_Key_Reference__c</field>
            <value>
                <elementReference>SMS_Action_key_Spanish_template</elementReference>
            </value>
        </inputAssignments>
        <object>smagicinteract__Converse_App_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_8_of_Send_SMS_2</name>
        <label>Copy 8 of Send SMS 2</label>
        <locationX>4538</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>opportunity__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smagicinteract__Automation_Key_Reference__c</field>
            <value>
                <elementReference>SMS_Action_key_English_template</elementReference>
            </value>
        </inputAssignments>
        <object>smagicinteract__Converse_App_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_9_of_Send_SMS_1</name>
        <label>Copy 9 of Send SMS 1</label>
        <locationX>4802</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>opportunity__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smagicinteract__Automation_Key_Reference__c</field>
            <value>
                <elementReference>SMS_Action_key_Spanish_template</elementReference>
            </value>
        </inputAssignments>
        <object>smagicinteract__Converse_App_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_9_of_Send_SMS_2</name>
        <label>Copy 9 of Send SMS 2</label>
        <locationX>5066</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>opportunity__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smagicinteract__Automation_Key_Reference__c</field>
            <value>
                <elementReference>SMS_Action_key_English_template</elementReference>
            </value>
        </inputAssignments>
        <object>smagicinteract__Converse_App_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Send_SMS_1</name>
        <label>Send SMS 1</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>opportunity__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smagicinteract__Automation_Key_Reference__c</field>
            <value>
                <elementReference>SMS_Action_key_Spanish_template</elementReference>
            </value>
        </inputAssignments>
        <object>smagicinteract__Converse_App_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Send_SMS_2</name>
        <label>Send SMS 2</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>opportunity__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smagicinteract__Automation_Key_Reference__c</field>
            <value>
                <elementReference>SMS_Action_key_English_template</elementReference>
            </value>
        </inputAssignments>
        <object>smagicinteract__Converse_App_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>2630</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Evaluate_Status_and_Substatus</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AssociatedOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>SMS_Action_key_English_template</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>PA-000025</stringValue>
        </value>
    </variables>
    <variables>
        <name>SMS_Action_key_Spanish_template</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>PA-000024</stringValue>
        </value>
    </variables>
</Flow>
