unpackaged/main/default/flows/SMS_History_Update_Last_SMS_Receive_Date_and_Last_SMS_Text_on_the_Person_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Is_it_a_Lead_or_Account</name>
        <label>Is it a Lead or Account?</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.smagicinteract__ObjectType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Last_SMS_Received_Date_Field_and_Last_SMS_Text_on_Lead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.smagicinteract__ObjectType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Last_SMS_Received_Date_Field_and_Last_SMS_Text_on_Account</targetReference>
            </connector>
            <label>Account</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SMS History - Update Last SMS Receive Date and  on the Person Account and lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SMS History - Update Last SMS Receive Date and Last SMS Text on the Person Account and lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Last_SMS_Received_Date_Field_and_Last_SMS_Text_on_Account</name>
        <label>Update Last SMS Received Date Field and Last SMS Text on Account</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Last_SMS_Received_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_SMS_Text__c</field>
            <value>
                <elementReference>$Record.smagicinteract__SMSText__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.smagicinteract__Account__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Last_SMS_Received_Date_Field_and_Last_SMS_Text_on_Lead</name>
        <label>Update Last SMS Received Date Field and Last SMS Text on Lead</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Last_SMS_Received_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_SMS_Text__c</field>
            <value>
                <elementReference>$Record.smagicinteract__SMSText__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.smagicinteract__Lead__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_it_a_Lead_or_Account</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>smagicinteract__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Incoming</stringValue>
            </value>
        </filters>
        <filters>
            <field>smagicinteract__ObjectType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>smagicinteract__ObjectType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <object>smagicinteract__smsMagic__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
