unpackaged/main/default/flows/Subflow_Pre_Activation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Notify_Ready_for_Activation</name>
        <label>Notify Ready for Activation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>jornan@innovativetaxreliefllc.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>casemanagement@innovativetaxreliefllc.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;Case {!Get_2T_Case.SuppliedName}, {!Get_2T_Case.Subject} is ready for activation but the owner is a queue.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please assign a user as the owner and the case will be moved automatically to activation call.&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Notify_Ready_for_Activation</name>
        <label>Notify Ready for Activation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>jornan@innovativetaxreliefllc.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>casemanagement@innovativetaxreliefllc.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;Case {!Get_2T_Case.SuppliedName}, {!Get_2T_Case.Subject} is ready for activation but the owner is a queue.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please assign a user as the owner and the case will be moved automatically to activation call.&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Notify_Ready_for_Activation</name>
        <label>Notify Ready for Activation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>jornan@innovativetaxreliefllc.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>casemanagement@innovativetaxreliefllc.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;Case {!Get_2T_Case.SuppliedName}, {!Get_2T_Case.Subject} is ready for activation but the owner is a queue.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please assign a user as the owner and the case will be moved automatically to activation call.&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assign_Case_Values</name>
        <label>Assign Case Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_2T_Case.Activation_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalPaymentThreshold</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_2T_Case.Balance_Paid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BalancePaid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_2T_Case.Case_Activation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseAct100</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_2T_Case.Total_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityRecord.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X2T_Case_in_Pre_Activation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PT_Final_Calculated</name>
        <label>Assign PT Final Calculated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FinalPaymentThreshold</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentThresholdCalculated</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_2T_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PT_Final_Calculatedx2</name>
        <label>Assign PT Final Calculated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FinalPaymentThreshold</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentThresholdCalculated</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_2T_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PT_on_Down</name>
        <label>Assign PT on Down</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FinalPaymentThreshold</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityRecord.Total_Pay_DP__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_2T_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PT_Value</name>
        <label>Assign PT Value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PT</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.3</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_PT_Final_Calculatedx2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_Balance_Paid</name>
        <label>Calculate Balance Paid</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>BalancePaid</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopTransactions.bt_stripe__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopTransactions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Activation_Assignment</name>
        <label>Case Activation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_2T_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activation Call</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_2T_Case.Activation_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_PT_Value</name>
        <label>Assign PT Value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PT</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.75</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_PT_Final_Calculated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Case_Activation</name>
        <label>Case Activation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_2T_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activation Call</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_2T_Case.Activation_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Case_Activation</name>
        <label>Case Activation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_2T_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activation Call</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_2T_Case.Activation_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Balance_Paid_Threshold</name>
        <label>Balance Paid&gt;=Threshold</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_bigger</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BalancePaid</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>FinalPaymentThreshold</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Possflip_or_in_House</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Is_Case_Owned_by_User</name>
        <label>Is Case Owned by User?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Notify_Ready_for_Activation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_2T_Case.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Case_Activation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Is_Case_Owned_by_User</name>
        <label>Is Case Owned by User?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Notify_Ready_for_Activation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_2T_Case.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Case_Activation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Case_Owned_by_User</name>
        <label>Is Case Owned by User?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Notify_Ready_for_Activation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_2T_Case.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Activation_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Loan_Purchased</name>
        <label>Is Loan Purchased?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_purchased</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityRecord.Loan_Purchased__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Is_Case_Owned_by_User</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Possflip_or_in_House</name>
        <label>Is Possflip, in House or Lender?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Possflip</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityRecord.Financing_Lender_Used__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monterey Poss-Flip</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Loan_Purchased</targetReference>
            </connector>
            <label>Possflip</label>
        </rules>
        <rules>
            <name>In_House</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityRecord.Financing_Lender_Used__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Case_Owned_by_User</targetReference>
            </connector>
            <label>In House</label>
        </rules>
        <rules>
            <name>Lender</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityRecord.Financing_Lender_Used__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Monterey Poss-Flip</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityRecord.Financing_Lender_Used__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Is_Case_Owned_by_User</targetReference>
            </connector>
            <label>Lender</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Second_Trade_Opportunity</name>
        <label>Is Second Trade Opportunity?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Second_Trade</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Captured_Transactions_Related_to_Opportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Threshold_Compare</name>
        <label>Threshold Compare</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_2T_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Down_Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityRecord.Payment_Treshold__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Down Payment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PT_on_Down</targetReference>
            </connector>
            <label>Down Payment</label>
        </rules>
        <rules>
            <name>X30</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityRecord.Payment_Treshold__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>30%</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PT_Value</targetReference>
            </connector>
            <label>30%</label>
        </rules>
        <rules>
            <name>X75</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityRecord.Payment_Treshold__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>75%</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_PT_Value</targetReference>
            </connector>
            <label>75%</label>
        </rules>
    </decisions>
    <decisions>
        <name>X2T_Case_Found</name>
        <label>2T Case Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_2T_Case.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_Values</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>X2T_Case_in_Pre_Activation</name>
        <label>2T Case in Pre-Activation or Intro?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_pre</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_2T_Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-Activation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_2T_Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Intro Call</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Balance_Paid_Threshold</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CaseAct100</name>
        <dataType>Number</dataType>
        <expression>{!PT}*100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PaymentThresholdCalculated</name>
        <dataType>Currency</dataType>
        <expression>{!PT}*{!OpportunityRecord.Amount}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>[Subflow] - Pre-Activation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Subflow] - Pre-Activation</label>
    <loops>
        <name>LoopTransactions</name>
        <label>LoopTransactions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_All_Captured_Transactions_Related_to_Opportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Calculate_Balance_Paid</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Threshold_Compare</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_2T_Case</name>
        <label>Get 2T Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>X2T_Case_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Captured_Transactions_Related_to_Opportunity</name>
        <label>Get All Captured Transactions Related to Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopTransactions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>bt_stripe__Opportunity2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>bt_stripe__Transaction_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>bt_stripe__Payment_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Captured</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>bt_stripe__Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Get_2T_Case</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Second_Trade_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ActivationNotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Case {!Get_2T_Case.SuppliedName}, {!Get_2T_Case.Subject} is in Activation Call</text>
    </textTemplates>
    <variables>
        <name>BalancePaid</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>EmailCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Case {!Get_2T_Case.SuppliedName}, {!Get_2T_Case.Subject} is ready for activation </stringValue>
        </value>
    </variables>
    <variables>
        <name>FinalPaymentThreshold</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>NotificationSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Case just got Activated!</stringValue>
        </value>
    </variables>
    <variables>
        <name>OpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OwnerIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PT</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
