unpackaged/main/default/flows/Task_automations_on_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_the_case_manager_queue_team</name>
        <label>Notify the case manager queue team</label>
        <locationX>1700</locationX>
        <locationY>1655</locationY>
        <actionName>Case.Case_Manager_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Pre_Activation_Flow</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varR_CaseRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Manager_Notification</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Activation_Call</name>
        <label>Assign Activation Fields</label>
        <locationX>886</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>varR_CaseRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activation Call</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CaseRecord.Activation_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CaseRecord.Pre_Activation_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Tax_Prep_Case_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Account</name>
        <label>Assign Case Account</label>
        <locationX>1700</locationX>
        <locationY>1331</locationY>
        <assignmentItems>
            <assignToReference>varR_CaseRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_IT_Follow_Up_Case_Values</name>
        <label>Assign IT Follow Up Case Values</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varR_CaseRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CaseRecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CaseRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.TI_Follow_Queue_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CaseRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CaseRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.TI_Follow_Up_Record_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CaseRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Transcript Investigation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CaseRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textT_TIFollowUpSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CaseRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Opportunity_Checkbox</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Negotiation_Case_Values</name>
        <label>Assign Negotiation Case Values</label>
        <locationX>1502</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>varR_CaseRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CaseRecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CaseRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Case_Manager_Queue_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CaseRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CaseRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Tax_Negotiation_Only_Record_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CaseRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CaseRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textT_CaseSubjectByType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CaseRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Assign_Opportunity_Checkbox</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Checkbox</name>
        <label>Assign Opportunity Checkbox</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>$Record.TI_Case_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Case_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Tax_and_Negotiation_Case_Values</name>
        <label>Assign Tax and Negotiation Case Values</label>
        <locationX>2206</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>varR_CaseRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CaseRecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CaseRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Case_Manager_Queue_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CaseRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CaseRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Tax_Prep_and_Negotiation_Record_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CaseRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CaseRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textT_CaseSubjectByType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CaseRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_4_of_Assign_Opportunity_Checkbox</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Tax_Prep_Case_Values</name>
        <label>Assign Tax Prep Case Values</label>
        <locationX>798</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>varR_CaseRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CaseRecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CaseRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Case_Manager_Queue_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CaseRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CaseRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Tax_Prep_Only_Case_Record_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CaseRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CaseRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textT_CaseSubjectByType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CaseRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_Opportunity_Checkbox</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Activation_Call</name>
        <label>Assign Activation Fields</label>
        <locationX>1590</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>varR_CaseRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activation Call</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CaseRecord.Activation_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CaseRecord.Pre_Activation_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Negotiation_Case_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Opportunity_Checkbox</name>
        <label>Assign Opportunity Checkbox</label>
        <locationX>798</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>$Record.Tax_Prep_Case_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Case_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Activation_Call</name>
        <label>Assign Activation Call</label>
        <locationX>2294</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>varR_CaseRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activation Call</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CaseRecord.Activation_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CaseRecord.Pre_Activation_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Tax_and_Negotiation_Case_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Opportunity_Checkbox</name>
        <label>Assign Opportunity Checkbox</label>
        <locationX>1502</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>$Record.Negotiations_Case_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Case_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Assign_Opportunity_Checkbox</name>
        <label>Assign Opportunity Checkbox</label>
        <locationX>2206</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>$Record.Tax_Negotiation_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Case_Account</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>CaseRecordTypeID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>012WD000000FWSbYAO</stringValue>
        </value>
    </constants>
    <customErrors>
        <name>Could_Not_Create_Case</name>
        <label>Could Not Create Case</label>
        <locationX>3614</locationX>
        <locationY>1547</locationY>
        <customErrorMessages>
            <errorMessage>Something happened! Please give provide your admin the message below.
{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Copy_1_of_Financing_Lender_Used_Monterrey_Possflip</name>
        <label>Monterrey Possflip or In House?</label>
        <locationX>1502</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_Activation_Call</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_4_of_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Financing_Lender_Used__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monterey Poss-Flip</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Financing_Lender_Used__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Negotiation_Case_Values</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Financing_Lender_Used_Monterrey_Possflip</name>
        <label>Monterrey Possflip or In House?</label>
        <locationX>2206</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Assign_Activation_Call</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_5_of_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Financing_Lender_Used__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monterey Poss-Flip</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Financing_Lender_Used__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Tax_and_Negotiation_Case_Values</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Financing_Lender_Used_Monterrey_Possflip</name>
        <label>Monterrey Possflip or In House?</label>
        <locationX>798</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Assign_Activation_Call</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Monterey</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Financing_Lender_Used__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monterey Poss-Flip</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Financing_Lender_Used__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Tax_Prep_Case_Values</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Opportunity</name>
        <label>Is New Opportunity?</label>
        <locationX>677</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>What_Action_Should_Occur</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Is Update</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forB_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes - Is New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Negotiations_Only_Case_Created</name>
        <label>Negotiations Only Case Created?</label>
        <locationX>1326</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Financing_Lender_Used_Monterrey_Possflip</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Negotiations_Case_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tax_Prep_Case_Created</name>
        <label>Tax Prep Case Created?</label>
        <locationX>622</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Financing_Lender_Used_Monterrey_Possflip</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tax_Prep_Case_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tax_Prep_Negotiations_Created</name>
        <label>Tax Prep &amp; Negotiations Created?</label>
        <locationX>2030</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Financing_Lender_Used_Monterrey_Possflip</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tax_Negotiation_Created__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>TI_Case_Already_Created</name>
        <label>TI Case Already Created?</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Assign_IT_Follow_Up_Case_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TI_Case_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Action_Should_Occur</name>
        <label>What Action Should Occur?</label>
        <locationX>1700</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_TI_Follow_Up_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Investigation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TI_Case_Already_Created</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Create TI Follow Up Case</label>
        </rules>
        <rules>
            <name>Create_Tax_Prep_Only_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Intro Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Solution_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tax Prep Only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tax_Prep_Case_Created</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Create Tax Prep Only Case</label>
        </rules>
        <rules>
            <name>Create_Negotiations_Only_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Intro Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Solution_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tax Negotiation Only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Negotiations_Only_Case_Created</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Create Negotiations Only Case</label>
        </rules>
        <rules>
            <name>Create_Tax_Prep_and_Negotiations_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Intro Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Solution_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tax Prep and Negotiation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tax_Prep_Negotiations_Created</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Create Tax Prep and Negotiations Case</label>
        </rules>
        <rules>
            <name>Create_2nd_Trade_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TI PIF Completed</stringValue>
                </rightValue>
            </conditions>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Create 2nd Trade Task</label>
        </rules>
        <rules>
            <name>Create_CPII_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create CPII</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CPII_for_Billing_Team</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Create CPII Task</label>
        </rules>
        <rules>
            <name>Submit_Opportunity_to_Approval_Process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Discount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_Discounted_Opportunity_for_Manager_Review</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Submit Opportunity to Approval Process</label>
        </rules>
    </decisions>
    <description>12/30: Added another subflow to add opportunity to an approval process when the discount is greater than 0.
01/07: Replaced the branch logic on all decisions to only execute when criteria is met.</description>
    <environments>Default</environments>
    <formulas>
        <name>forB_IsNew</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <formulas>
        <name>varT_AccountName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.FirstName}&amp;&quot; &quot;&amp;{!$Record.Account.LastName}</expression>
    </formulas>
    <interviewLabel>Task automations on Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF: Create Records Based On Opportunity Record Stage or Field Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Case_Creation</name>
        <label>Case Creation</label>
        <locationX>1700</locationX>
        <locationY>1439</locationY>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Could_Not_Create_Case</targetReference>
        </faultConnector>
        <inputReference>varR_CaseRecord</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>1700</locationX>
        <locationY>1547</locationY>
        <connector>
            <targetReference>Notify_the_case_manager_queue_team</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>551</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_New_Opportunity</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_CPII_for_Billing_Team</name>
        <label>Create CPII for Billing Team</label>
        <locationX>2822</locationX>
        <locationY>539</locationY>
        <flowName>Subflow_Create_CPII_Task_Assign_to_CPII_Queue</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Pre_Activation_Flow</name>
        <label>Pre-Activation Flow</label>
        <locationX>1700</locationX>
        <locationY>1763</locationY>
        <flowName>Subflow_Pre_Activation</flowName>
        <inputAssignments>
            <name>OpportunityRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Submit_Discounted_Opportunity_for_Manager_Review</name>
        <label>Submit Discounted Opportunity for Manager Review</label>
        <locationX>3086</locationX>
        <locationY>539</locationY>
        <flowName>Subflow_Add_Opportunity_To_Approval_Process</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>textT_CaseSubjectByType</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Solution_Type__c} Case for {!$Record.Account.FirstName} {!$Record.Account.LastName}</text>
    </textTemplates>
    <textTemplates>
        <name>textT_TIFollowUpSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>TI Follow Up Case for {!$Record.Account.FirstName} {!$Record.Account.LastName}</text>
    </textTemplates>
    <variables>
        <name>varR_CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
