unpackaged/main/default/flows/TI_Case_Create_2nd_Trade_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Opportunity_Values</name>
        <label>Assign Opportunity Values</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>SecondTradeOpportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SecondTradeOpportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RecordType_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SecondTradeOpportunity.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Opportunity.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_Opportunity.IRS_Revenue_Officer_on_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SecondTradeOpportunity.IRS_Revenue_Officer_on_Case__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SecondTradeOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Preliminary Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SecondTradeOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CloseDateFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SecondTradeOpportunity.X1T_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Statuses</name>
        <label>Case Statuses?</label>
        <locationX>512</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TI_Completed_Successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TI Follow Up Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case Completed Successful</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_PIF</targetReference>
            </connector>
            <label>TI Completed Successful</label>
        </rules>
        <rules>
            <name>TI_Blocked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TI Follow Up Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blocked</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incorrect Info Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Opportunity</targetReference>
            </connector>
            <label>TI Blocked - Incorrect Info Submitted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Found</name>
        <label>Opportunity Found?</label>
        <locationX>809</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Statuses</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_PIF</name>
        <label>Opportunity PIF?</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_PIF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Opportunity.TI_PIF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RecordType_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CloseDateFormula</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 7</expression>
    </formulas>
    <interviewLabel>TI Case - Create 2nd Trade Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TI Case - Create 2nd Trade Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Opportunity</name>
        <label>Create Second Trade Opportunity</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Close_1st_Trade_Opportunity</targetReference>
        </connector>
        <inputReference>SecondTradeOpportunity</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_RecordType_Id</name>
        <label>Get 2T RecordType Id</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Opportunity_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Second Trade</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Opportunity</name>
        <label>Get Related Opportunity</label>
        <locationX>809</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_1st_Trade_Opportunity</name>
        <label>Close 1st Trade Opportunity</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>TI PIF Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X2T_Opportunity__c</field>
            <value>
                <elementReference>SecondTradeOpportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Opportunity__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Opportunity</name>
        <label>Update Related Opportunity</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Agreements</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Stage__c</field>
            <value>
                <stringValue>Incorrect Info Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Opportunity__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>683</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Opportunity</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 OR (2 AND 3)</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case Completed Successful</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Blocked</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sub_status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Incorrect Info Submitted</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SecondTradeOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
