unpackaged/main/default/flows/Transactions_Calculate_Scheduled_Amount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Add_Amount</name>
        <label>Add Amount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AmountStorage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Transactions.bt_stripe__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Transactions</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>[Transactions] - Calculate Scheduled Amount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Transactions] - Calculate Scheduled Amount</label>
    <loops>
        <name>Loop_Transactions</name>
        <label>Loop Transactions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Open_Transactions_Related_to_PS</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_PS</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Open_Transactions_Related_to_PS</name>
        <label>Get Open Transactions Related to PS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Transactions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>bt_stripe__Transaction_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>bt_stripe__Payment_Schedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.bt_stripe__Payment_Schedule__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>bt_stripe__Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_PS</name>
        <label>Update PS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.bt_stripe__Payment_Schedule__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Scheduled_Transactions_Amount__c</field>
            <value>
                <elementReference>AmountStorage</elementReference>
            </value>
        </inputAssignments>
        <object>bt_stripe__Payment_Schedule__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Open_Transactions_Related_to_PS</targetReference>
        </connector>
        <filterFormula>ISNULL({!$Record.bt_stripe__Payment_Schedule__c}) = FALSE &amp;&amp; (ISCHANGED({!$Record.bt_stripe__Transaction_Status__c}) || ISNEW())</filterFormula>
        <object>bt_stripe__Transaction__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AmountStorage</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
