unpackaged/main/default/flows/Transaction_Three_Days_Declined.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>is_Collection_Specialist_Populated</name>
        <label>is Collection Specialist Populated?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Collections_Queue_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>It_is</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Collection_Specialist__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_for_Collection_Specialist</targetReference>
            </connector>
            <label>It is</label>
        </rules>
    </decisions>
    <decisions>
        <name>Second_Trade_Opportunity</name>
        <label>Second Trade Opportunity?</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.bt_stripe__Payment_Schedule__r.Opportunity__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Second Trade</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_Collection_Specialist_Populated</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>taskSubject</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.bt_stripe__Related_Account__r.Name} == null, {!$Record.bt_stripe__Related_Account__r.FirstName}  + &#39;   &#39; +  {!$Record.bt_stripe__Related_Account__r.LastName}, {!$Record.bt_stripe__Related_Account__r.Name} )
  + &#39; - &#39; + &#39;US$&#39;  + TEXT({!$Record.bt_stripe__Amount__c}) + &#39; has failed 3 times in a row&#39;</expression>
    </formulas>
    <interviewLabel>Transaction - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transaction - Three Days Declined</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_new_Transaction</name>
        <label>Create new Transaction</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>bt_stripe__Amount__c</field>
            <value>
                <numberValue>50.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Due_Date__c</field>
            <value>
                <elementReference>$Record.bt_stripe__Payment_Schedule__r.bt_stripe__Next_Payment_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Opportunity2__c</field>
            <value>
                <elementReference>$Record.bt_stripe__Opportunity2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Payment_Schedule__c</field>
            <value>
                <elementReference>$Record.bt_stripe__Payment_Schedule__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Related_Account__c</field>
            <value>
                <elementReference>$Record.bt_stripe__Related_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Transaction_Sub_Type__c</field>
            <value>
                <stringValue>Late Fee</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Transaction_Type__c</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <object>bt_stripe__Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Create_new_Transaction</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Collections_Queue_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>taskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.bt_stripe__Payment_Schedule__r.Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_for_Collection_Specialist</name>
        <label>Create Task for Collection Specialist</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Create_new_Transaction</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.bt_stripe__Opportunity2__r.Collection_Specialist__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>taskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.bt_stripe__Payment_Schedule__r.Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Collections_Queue_Id</name>
        <label>Get Collections Queue Id</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Collections-overdue Transactions</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Second_Trade_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>bt_stripe__Transaction_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>bt_stripe__Transaction_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </filters>
        <filters>
            <field>bt_stripe__Reattempt__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </filters>
        <object>bt_stripe__Transaction__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
