unpackaged/main/default/flows/Transaction_Send_Failed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <description>Decide which SMS to send based on reattempt number field</description>
        <name>Decide_which_SMS_to_send</name>
        <label>Decide which SMS to send</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_first_payment_failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.bt_stripe__Reattempt__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.bt_stripe__Opportunity2__r.Customer_Phone_Number__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Failed_Transaction_SMS</targetReference>
            </connector>
            <label>If transaction status fails</label>
        </rules>
        <rules>
            <name>If_transaction_status_fails_reattempt_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.bt_stripe__Reattempt__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.bt_stripe__Opportunity2__r.Customer_Phone_Number__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Failed_Transaction_SMS_Reattempt_1</targetReference>
            </connector>
            <label>If transaction status fails reattempt 1</label>
        </rules>
        <rules>
            <name>If_transaction_status_fails_reattempt_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.bt_stripe__Reattempt__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.bt_stripe__Opportunity2__r.Customer_Phone_Number__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Failed_Transaction_SMS_Reattempt_2</targetReference>
            </connector>
            <label>If transaction status fails reattempt 2</label>
        </rules>
        <rules>
            <name>If_transaction_status_fails_reattempt_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.bt_stripe__Reattempt__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.bt_stripe__Opportunity2__r.Customer_Phone_Number__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Failed_Transaction_SMS_Reattempt_3</targetReference>
            </connector>
            <label>If transaction status fails reattempt 3</label>
        </rules>
    </decisions>
    <description>Transaction - Send Failed Transactions SMS Billing Updated V2</description>
    <environments>Default</environments>
    <interviewLabel>Transaction - Send Failed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transaction - Send Failed Transactions SMS Billing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Send_Failed_Transaction_SMS</name>
        <label>Send Failed Transaction SMS</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>opportunity__c</field>
            <value>
                <elementReference>$Record.bt_stripe__Opportunity2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smagicinteract__Automation_Key_Reference__c</field>
            <value>
                <stringValue>PA-000026</stringValue>
            </value>
        </inputAssignments>
        <object>smagicinteract__Converse_App_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Send_Failed_Transaction_SMS_Reattempt_1</name>
        <label>Send Failed Transaction SMS Reattempt 1</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>opportunity__c</field>
            <value>
                <elementReference>$Record.bt_stripe__Opportunity2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smagicinteract__Automation_Key_Reference__c</field>
            <value>
                <stringValue>PA-000027</stringValue>
            </value>
        </inputAssignments>
        <object>smagicinteract__Converse_App_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Send_Failed_Transaction_SMS_Reattempt_2</name>
        <label>Send Failed Transaction SMS Reattempt 2</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>opportunity__c</field>
            <value>
                <elementReference>$Record.bt_stripe__Opportunity2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smagicinteract__Automation_Key_Reference__c</field>
            <value>
                <stringValue>PA-000028</stringValue>
            </value>
        </inputAssignments>
        <object>smagicinteract__Converse_App_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Send_Failed_Transaction_SMS_Reattempt_3</name>
        <label>Send Failed Transaction SMS Reattempt 3</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>opportunity__c</field>
            <value>
                <elementReference>$Record.bt_stripe__Opportunity2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smagicinteract__Automation_Key_Reference__c</field>
            <value>
                <stringValue>PA-000029</stringValue>
            </value>
        </inputAssignments>
        <object>smagicinteract__Converse_App_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decide_which_SMS_to_send</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>bt_stripe__Payment_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Uncaptured</stringValue>
            </value>
        </filters>
        <filters>
            <field>bt_stripe__Transaction_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </filters>
        <object>bt_stripe__Transaction__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
