unpackaged/main/default/flows/Update_Payment_Gateway.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Update Payment Gateway {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Payment Gateway</label>
    <loops>
        <name>Check_all_transaction</name>
        <label>Check all transaction</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_all_transactions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdateTransaction</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_transactions</name>
        <label>Get all transactions</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_all_transaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a1EPo0000023JTBMA2</stringValue>
            </value>
        </filters>
        <filters>
            <field>bt_stripe__Payment_Gateway__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a0tPo00000OkTVpIAN</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>bt_stripe__Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateTransaction</name>
        <label>UpdateTransaction</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Check_all_transaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Check_all_transaction.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>bt_stripe__Payment_Gateway__c</field>
            <value>
                <elementReference>PaymentgateWayReplace</elementReference>
            </value>
        </inputAssignments>
        <object>bt_stripe__Transaction__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_all_transactions</targetReference>
        </connector>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>PaymentgateWayReplace</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PaymentGateWaytoFind</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
